.navigation {
    position: relative;
    z-index: 999;
    padding: 80px 50px 60px;


    .logo {
        position: relative;

        img {
            max-height: 50px;
        }

    }

    .btn__menu {
        appearance: none;
        outline: 0;
        border: none;
        box-shadow: none;
        position: relative;
        background: transparent;

        span {
            position: relative;
            display: block;
            width: 95px;
            height: 5px;
            border-radius: 6px!important;
            background-color: black;
            margin: 12px 0;
        }

    }

}
