.slider {
  .swiper-slide {
    max-width: 80vw;
    position: relative;
    padding-top: 40%;
		overflow: hidden;

    img,
    video,
    picture {
      position: absolute;
      top: 0;
    }
  }
}
