.color-grey {
    color: $color-grey!important;
}

.color-grey2 {
    color: $color-grey2!important;
}

.color-grey3 {
    color: $color-grey3!important;
}

.color-grey4 {
    color: $color-grey4!important;
}

.color-grey5 {
    color: $color-grey5!important;
}

.color-grey6 {
    color: $color-grey6!important;
}

.color-grey7 {
    color: $color-grey7!important;
}

.color-grey8 {
    color: $color-grey8!important;
}

.color-grey9 {
    color: $color-grey9!important;
}

.color-white {
    color: white!important;
}

.color-black {
    color: black!important;
}

.color-red {
    color: $color-red!important;
}

.color-blue {
    color: $color-blue!important;
}

.color-secondary {
    color: $color-secondary!important;
}

.color-tertiary {
    color: $color-tertiary!important;
}

.bg-grey {
    background-color: $color-grey!important;
}

.bg-grey2 {
    background-color: $color-grey2!important;
}

.bg-grey3 {
    background-color: $color-grey3!important;
}

.bg-grey4 {
    background-color: $color-grey4!important;
}

.bg-grey5 {
    background-color: $color-grey5!important;
}

.bg-grey6 {
    background-color: $color-grey6!important;
}

.bg-grey7 {
    background-color: $color-grey7!important;
}

.bg-grey8 {
    background-color: $color-grey8!important;
}

.bg-grey9 {
    background-color: $color-grey9!important;
}

.bg-white {
    background-color: white!important;
}

.bg-black {
    background-color: black!important;
}

.bg-red {
    background-color: $color-red!important;
}

.bg-blue {
    background-color: $color-blue!important;
}

.bg-secondary {
    background-color: $color-secondary!important;
}

.bg-tertiary {
    background-color: $color-tertiary!important;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

.left-auto {
    left: auto;
}

.right-auto {
    right: auto;
}

.flip-vertical {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.flip-horizontal {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.border-radius {
    @include radius(16px);

		@media(max-width: 991px) {
			@include radius(12px);
		}

}

.border-radius-s {
    @include radius(10px);

		@media(max-width: 991px) {
			@include radius(7px);
		}

}