$font-primary: 'Source Serif Pro', serif;
$font-secondary: 'Source Sans Pro', serif;

$color-navy: #000000;
$color-sea: #94D4E9;
$color-pink: #FF0000;
$color-red: #FF0000;
$color-blue: #00A3FF;
$color-yellow: #FDD963;
$color-grey: #F6F6F6;
$color-grey2: #F0F0F0;
$color-grey3: #E5E5E5;
$color-grey4: #E0E0E0;
$color-grey5: #DDDDDD;
$color-grey6: #A7A6A7;
$color-grey7: #3F4C5A;
$color-grey8: #383A3E;
$color-grey9: #222222;

$color-primary: #000000;
$color-secondary: $color-grey;
$color-tertiary: $color-red;
